.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  margin: 0.5em;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
.shared{
  border: 1px solid #1EDD88;
  background-color: transparent;
  color: #1EDD88;
}
.btn-show {
  font-size: 1em;
  color: white;
  padding: 0.2em;
  width: 5em;
  margin: 0;

}
